In [ ]:
# https://office-menu.ru/python/96-api-hh

In [1]:
import requests
import json
import os
import pandas as pd

In [12]:
# print(os.path.abspath(os.getcwd()))
FileName = './dics/roles_hh.json'

def get_profession():
    """
    Создаем метод для получения страницы со списком профессий.
    """
     
    req = requests.get('https://api.hh.ru/professional_roles') # Посылаем запрос к API
    data = req.content.decode() # Декодируем его ответ, чтобы Кириллица отображалась корректно
    req.close()
    return data

js_obj = json.loads(get_profession())

with open(FileName, 'w', encoding='utf8') as f:
        f.write(json.dumps(js_obj, ensure_ascii=False))

print('Страницы поиска собраны')

Страницы поиска собраны

In [13]:
with open(FileName, "r", encoding='utf8') as read_file:
    data = json.load(read_file)

it_roles = data['categories'][7]['roles']
df_it_roles = pd.json_normalize(it_roles)
df_it_roles[['id', 'name']].to_csv('./dics/roles_it.csv', index=False)

In [14]:
df_it_roles[['id', 'name']]

     id                                          name
0    10                                      Аналитик
1    12             Арт-директор, креативный директор
2    25                                 Гейм-дизайнер
3    34                            Дизайнер, художник
4    36  Директор по информационным технологиям (CIO)
5    73                             Менеджер продукта
6    96                      Программист, разработчик
7   104                Руководитель группы разработки
8   107                         Руководитель проектов
9   112                               Сетевой инженер
10  113                       Системный администратор
11  114                             Системный инженер
12  116     Специалист по информационной безопасности
13  121              Специалист технической поддержки
14  124                                   Тестировщик
15  125                    Технический директор (CTO)
16  126                          Технический писатель